* {
  box-sizing: border-box;
}

h1, h2, h4{
  text-align: center;
}


button{
  height: 25px;
  border-radius: 10px;
  background-color:bisque;
  border-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:visited{
    color: rgba(0, 0, 0, 0.2);
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:medium;
  opacity: .8;
	background: linear-gradient(180deg, rgba(79, 192, 234, 0.556), #524a90);
}


input, select, textarea{
  width: 100%;
  border-radius: 5px;
}

input, select{
  height: 30px;
}

textarea{
  resize: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}


.node{
  position: relative;
  border-radius: 50%;
  background: #f5ebd2d3;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  word-wrap:  break-word;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "top middle bottom";
  box-shadow: 0 4px 50px rgb(22, 22, 22);
}

.top{
  margin-top: 20px;
  /* background-color: #776BCC; */
}


.bottom{
  margin-bottom: 20px;
  /* background-color: bisque; */
}


.middle{
  border-style: dashed;
  background-color: aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
  font-family:Arial, Helvetica, sans-serif;
}

.node-nexus{
  display: table-cell;
  vertical-align: middle;
  justify-content: center;
}



.satelliteNode{
  font-size:medium;
  min-width: 150px;
  min-height: 150px;
  align-items: center;
  margin: 0 auto;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  word-wrap:  break-word;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  margin-bottom: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.366);
}

.satelliteNexus{
  background-color: rgba(240, 255, 255, 0.496);
  min-width: 200px;
  max-width: 300px;
  height: 30px;
  align-items: center;
  margin: 0 auto;
  padding-left: 10px;
  word-wrap:  break-word;
  vertical-align: middle;
  display: flex;
  border-radius: 5px 40px 0px 5px;
  color: rgb(58, 57, 56);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.inbound {
  background: rgba(180, 110, 217, 0.296); 
}

.outbound {
  background:rgba(110, 198, 230, 0.29);
}

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 0px 0px;
  padding-top: 20px;
  grid-auto-flow: column;
  grid-template-areas: "left center right";
  height: auto;
  margin: 0 auto;
  /* border: solid; */
}

.left {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:". .";
  grid-area: left;
  float: left;
  /* border: solid; */
}

.center {
  min-height: 550px;
  position: relative;
  align-items: center;
  grid-area: center;
  display: block;
  justify-content: center;
  /* border: solid; */
}

.right {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: right;
  /* border: solid; */
}

.hidden{
  visibility: hidden;
  /* display: none; */
}

.show{
  color: rgb(66, 66, 66);
  padding: 10px;
  background: rgba(255, 255, 255, 0.105);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(28, 28, 28, 0.3);
}

.navbar{
  background-color: rgba(189, 239, 245, 0.378);
  height: 100px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.366);
  /* From https://css.glass */
  background: rgba(10, 199, 130, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.366);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  border: 1px solid rgba(103, 200, 165, 0.31);
}

.logo{
  font-size:1.7rem;
  margin-left: 10px;
  font-weight: 600;
}

.nav-links{
  margin: 20px auto;
}

.nav-links a {
  border-radius: 10px;
  text-decoration: none;
  color:black;
  display: inline;
  padding-right: 20px;
  margin-right: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul{
  padding: 10px; 
  position: relative;
  width: 100%;
  font-size: 1.3rem;
}

ol li {
  width: 40px;
  list-style-type:circle;
}

a:hover {
  /* background-color: rgba(111, 241, 250, 0.351); */
  color: rgb(216, 243, 249);
}

a:active {
  color: rgb(11, 11, 10);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(189, 239, 245, 0.378);
  height: 3vh;
  color: black;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.366);
 
  /* background: rgba(10, 199, 130, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.366);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
  border: 1px solid rgba(103, 200, 165, 0.31); */
}

.missing-background{
  background-image: url("/public/img/singularity.gif");
  color: white;
  height: 800px;
  background-position: center;
  background-size: cover;
}

.content-wrapper{
  height: 100vh;
  width: 95vw;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(27, 27, 27, 0.3);
}


.modal{
  position: absolute;
  top: 0px;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(27, 27, 27, 0.3);
}


.addDef{
  background: rgba(255, 255, 255, 0.105);
}

.addNexus{
  background: rgba(255, 255, 255, 0.105);
  padding: 10px 10px;
  backdrop-filter: blur(3px);
  /* height: auto; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.node-nexus input{
  max-width: 150px;
  border-style: none;
  background: rgb(255, 255, 255);
}

.node-nexus select{
  max-width: 150px;
  border-style:groove;
  background: rgba(255, 255, 255, 0.553);
}


.form{
  padding-left: 10px;
  padding-right: 10px;
}

.sign-in{
  padding-top: 10vh;
  margin: 0 auto;
  width: 30vw;
}

.float-right{
  float: right;
}

.errmsg{
  color:#f95523;
}

.example{
  color:#dcf36a;
}


.search-result{
  overflow: auto;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(27, 27, 27, 0.3);
}

.individual-word{
  display: inline-block;
  margin-right: 5px;
  background-color: rgb(132, 198, 231);
}

.add-node{
  width: 60%;
  margin: 0 auto;
  padding: 20px 20px;
  /* border-style: dashed; */
}

input{
  border-style: none;
}